/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
    /* ini untuk tampilan handphone */
    thead tr th {
        font-size: 10px;
    }

    tbody tr th {
        font-size: 10px;
    }

    tbody tr td h4 {
        font-size: 10px;
    }

    tbody tr td h4.status {
        font-size: 10px;
        background: yellow;
        padding: 6px;
        border-radius: 10px;
    }

    tbody tr td p {
        font-size: 10px;
    }

    img.product-pic {
        width: 3rem;
    }    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px){
    /* ini untuk tampilan tablet */
    thead tr th {
        font-size: 10px;
    }

    tbody tr th {
        font-size: 10px;
    }

    tbody tr td h4 {
        font-size: 10px;
    }

    tbody tr td h4.status {
        font-size: 10px;
        background: yellow;
        padding: 6px;
        border-radius: 10px;
    }

    tbody tr td p {
        font-size: 10px;
    }

    img.product-pic {
        width: 3rem;
    }    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px){
    thead tr th {
        font-size: 25px;
    }

    tbody tr th {
        font-size: 25px;
    }

    tbody tr td h4 {
        font-size: 25px;
    }

    tbody tr td h4.status {
        font-size: 25px;
        background: yellow;
        padding: 6px;
        border-radius: 10px;
    }

    tbody tr td p {
        font-size: 25px;
    }

    img.product-pic {
        width: 7rem;
    }    
  }
  
  /* Large devices (Laptops/desktop, 992px and up) */
  @media only screen and (min-width: 992px){
    /* ini untuk tampilan laptop */
    
  }
  
  /* Extra Large devices (Large laptops and destops, 120px and up) */
  @media only screen and (min-width: 1200px){
    img.product-pic {
        width: 13rem;
    }  
    
    tbody tr td h4.status {
        background: yellow;
        padding: 10px;
        border-radius: 10px;
    }
  }
  